<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" ng-controller="MapCtrl">
    <div class="modal-content">
      <!-- ADDRESS INPUT -->
      <div class="row" id="modal-header">
          <form ng-submit="submit($event)" name="geocode_form">
            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" ng-model="user.address_street">
                <label for="icon_prefix">street address</label>
              </div>
              <div class="col s12 m6" id="geocode-button">
                <button class="btn btn-medium" type="submit">Find my location</button>
              </div>
              <div class="col s12 m12 l12">
                <p id="delivery-time" ng-if="duration">Delivery time is currently <span class="text-primary">{{duration}}</span></p>
              </div>
            </div>
          </form>
      </div>
      <!-- MAP DIV -->
      <div id="map"></div>
      <!-- <button ng-click="loadMap()">Reload</button> -->

      <!-- <form ng-submit="submit($event)" class="form-group" name="geocode_form">
      <input ng-model="user.address_street" type="textbox"/>
      <input class="btn btn-medium" type="submit" value="Geocode">
    </form> -->

        <div>
        <!-- HIDDEN INPUTS -->
      </form>
    </div> <!-- END MODAL CONTENT -->
  </div>
<!-- MODAL FOOTER BUTTTONS -->
  <div class="modal-footer row">
    <a class="col sm4 modal-action modal-close waves-effect waves-green btn-flat" ng-click="createOrder()">Confirm Address</a>
    <a ui-sref="items" class="col sm4 modal-action modal-close waves-effect waves-green btn-flat">Shop+</a>
    <a ui-sref="checkout" class="col sm4 modal-action modal-close waves-effect waves-green btn-flat">Back <-</a>
  </div>
</div>
<!-- SHOP RETURN BUTTON -->
<div class="shop-return">
  <a class="modal-trigger btn btn-large brown" ui-sref="items" id="checkout-button">
    <i class="material-icons">keyboard_return</i>
  </a>
</div>
<!-- BEGIN CHECKOUT VIEW -->

<!-- CHECKOUT BUTTON -->
<div ng-show="Badge >= 1" class="checkout-header">
  <a class="modal-trigger btn btn-large" href="#modal1" id="checkout-button" ng-click="loadMap()">
    <span id="checkout-font">
    Checkout ${{Total}}
    <i class="material-icons">check_circle</i>
    </span>
  </a>
</div>

<div>

  <!-- <div class="confirm-header">
    <h4 style="text-align: center; padding: 2rem;">
    Welcome back {{user}}!
    <br><br>Items {{Badge}} Total {{Total | currency}} -->
      <!-- <a class="waves-effect waves-light btn brown">Back to Shop</a> -->
      <!-- <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Confirm Order</a>
    </h4>
  </div> -->

<!-- <div class="checkout-header">
  <a class="modal-trigger btn btn-large" href="#modal1" id="checkout-button">
    <span id="checkout-font">
    Total ${{Total}}
    <i class="material-icons">check_circle</i>
    </span>
  </a>
</div> -->
<!-- Items-List -->
    <div ng-repeat="item in cart track by $index" class="row card-panel hoverable">
      <div class="col s4 m4 l4">
        <img ng-src="{{ item.img }}" class="responsive-img">
      </div>
      <div class="col s8 m8 l8">
        <h4>
          <a ng-href="#/items/{{item.id}}">{{ item.name }}</a>
          {{item.maker}}
          {{item.year}}
          {{item.location}}
          ${{ item.price }}
        </h4>  
          <h5>
            <span>Subtotal: {{item.subTotal | currency}}</span>
          </h5>
          <input type="number" style="font-size: 2rem; width:50px;" class="form-control" ng-model="item.quantity" name="newQ">
          <span class="btn btn-success btn-xs" ng-click="updateItem($index,item)">Ok</span>
          <span class="btn btn-danger btn-xs red" ng-click="removeItem($index)">X</span>
      </div>
    </div>
</div>
