<div>
  <div class="confirm-header">
    <h4 style="text-align: center; padding: 2rem;">
    Welcome back {{user}}!
    <br><br>Items {{Badge}} Total {{Total | currency}}
      <!-- <a class="waves-effect waves-light btn brown">Back to Shop</a> -->
      <a ui-sref="items" class="waves-effect waves-light btn">Confirm Order</a>
    </h4>
  </div>

    <div ng-repeat="item in cart track by $index" class="row">
      <div class="col s4 m4 l4">
        <img ng-src="{{ item.img }}" class="responsive-img">
      </div>
      <div class="col s8 m8 l8">
        <h4>
          <a ng-href="#/items/{{item.id}}">{{ item.name }}</a>
          {{item.maker}}
          {{item.year}}
          {{item.location}}
          ${{ item.price }}
        </h4>  
          <h5>
            <span>Subtotal: {{item.subTotal | currency}}</span>
          </h5>
          <input type="number" style="font-size: 2rem; width:50px;" class="form-control" ng-model="item.quantity" name="newQ">
          <span class="btn btn-success btn-xs" ng-click="updateItem($index,item)">Ok</span>
          <span class="btn btn-danger btn-xs red" ng-click="removeItem($index)">X</span>
      </div>
    </div>
</div>

{{cookieJar}}

<!-- <div ng-repeat="item in items track by $index" class="row card-panel hoverable" id="item-panel">
    <div class="col s4 m4 l3">
      <img ng-src="{{ item.img }}" class="responsive-img">
    </div>
    
    <div class="col s8 m6 l6" flow-text>
      <h4>
        <a ng-href="#/items/{{item.id}}">{{ item.name }}</a>
        {{ item.maker }}
        {{ item.year }}
        {{ item.location }}
      </h4>
      <div>
        {{ item.description }}
      </div>    
      <div>
        
        {{ item.price | currency }}
        <a class="btn-floating btn-medium waves-effect waves-light green" ng-click="addItem(1, item)">
        <i class="mdi-content-add"></i></a>
      </div>
    </div>
</div> -->
