<div class="container confirmation">
<h3>Your order has been confirmed:</h3>
<div class="order-info">
<p>Order ID: {{order.order_id}}</p>
<p>Date: {{order.date | date:'medium'}}</p>
<p>Delivered: {{order.delivered}}</p>
</div>
<h3>Items:</h3>
<ul ng-repeat="item in cart track by $index">
  <li class="order-info">
    {{item.quantity}}
    {{item.name}}
    (${{item.price}})
    Sub: {{item.subTotal | currency}}          
  </li>
</ul>
<p class="order-info">Total: {{Total | currency}}</p>
<h3>Delivery info:</h3>
  <div class="order-info">

    <p>ETA: {{ETA}}</p>
    <p>Driver name/phone: Gustavo 415-420-9999</p>
  </div>
</div>
