<div class="container confirmation">
  <h3>Order confirmed:</h3>
  <div class="order-info text-primary">
   <p>Delivery wait is {{ETA}}</p>
      <p>By Gustavo 415-420-9999</p>
  <p>Order ID: {{order.order_id}}</p>
  <p>{{order.date | date:'medium'}}</p>
  </div>
  <h3>Items:</h3>
  <ul ng-repeat="item in cart track by $index">
    <li class="order-info">
      {{item.quantity}}
      {{item.name}}
      (${{item.price}})
      Sub: {{item.subTotal | currency}}          
    </li>
  </ul>
  <p class="order-info text-primary">Total: {{Total | currency}}</p>
</div>

  <!-- <p>Delivered: {{order.delivered}}</p> -->
