<style>
      #map {
        height: 400px;
      }
  #floating-panel {
    position: relative;
    /*top: 10px;
    left: 25%;*/
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

</style>

    
    <div id="map"></div>
    <form ng-submit="submit($event)" class="form-group"name="geocode_form">
      <input ng-model="user.address_street" type="textbox"/>
      <input class="btn btn-medium" type="submit" value="Geocode">
    </form>

    Input:<input type="text" ng-model="newRoute.origin">
Destination:<input type="text" ng-model="newRoute.destination">

{{newRoute}}
<button ng-click="calculate(newRoute)">Calculate</button>
