Current User: {{user.first_name}} {{user.last_name}}

<a ui-sref="checkout" class="btn btn-primary">Checkout {{Badge}}</a>

<ul>
  <li ng-repeat="item in cart">{{item.quantity}} {{item.name}}</li>
</ul>

<form ng-submit="submit($event)" class="form-group">
  <div>
    <label for="">Name</label>
    <input type="text" ng-model="newItem.name" class="form-control" />
  </div>
  <div>
    <label for="">Maker</label>
    <input type="text" ng-model="newItem.maker" class="form-control" />
  </div>
  <div>
    <label for="">Year</label>
    <input type="text" ng-model="newItem.year" class="form-control" />
  </div>
  <div>
    <label for="">Description</label>
    <input type="text" ng-model="newItem.description" class="form-control" />
  </div>
  <div>
    <label for="">Price</label>
    <input type="text" ng-model="newItem.price" class="form-control" />
  </div>
  <div>
    <label for="">Image URL</label>
    <input type="text" ng-model="newItem.img" class="form-control" />
  </div>
  <div>
    <br>
    <button type="submit" class="btn btn-primary" value="Add Item">Submit</button>
  </div>
</form>

<div class="container">
  <div ng-repeat="item in items track by $index" class="card-panel hoverable" class="row">
    <div class="col s2">
      <img ng-src="{{ item.img }}" class="responsive-img">
    </div>
    
    <div class="col s12 m6 l3">
      <a ng-href="#/items/{{item.id}}">{{ item.name }}</a>
      {{ item.maker }}
      {{ item.year }}
      {{ item.location }}
      {{ item.description }}
      {{ item.price | currency }}
    </div>
    
      <!-- <select ng-model="selected" ng-init="selected='1'">
        <option ng-selected="setQuantity(selected)">1</option>
        <option ng-selected="setQuantity(selected)">2</option>
        <option ng-selected="setQuantity(selected)">3</option>
        <option ng-selected="setQuantity(selected)">4</option>
      </select> -->
    <div class="col s12">
        <span class="btn btn-success btn-xs" ng-click="addItem(selected, item)">
        <span class="glyphicon glyphicon-plus"></span></span>
        <span class="btn btn-warning btn-xs" ng-click="removeItem(selected, item)">
        <span class="glyphicon glyphicon-minus"></span></span>
    </div>
  </div> <!-- END REPEAT -->
</div>

<div class="row">
      <div class="col s2">1</div>
      <div class="col s2">2</div>
      <div class="col s2">3</div>
      <div class="col s2">4</div>
      <div class="col s2">5</div>
      <div class="col s2">6</div>
</div>
<div class="row">
      <div class="col s2">1</div>
      <div class="col s10">2</div>
</div>

<gs-yoyo-details yoyo-data="yoyo" ng-repeat="item in items"></gs-yoyo-details>
