<h3>
Current User: {{user.first_name}} {{user.last_name}}
Cart({{Badge}})
<a ui-sref="checkout" class="btn btn-primary">Checkout</a>
</h3>
<ul>
  <li ng-repeat="item in cart">{{item.quantity}} {{item.name}}</li>
</ul>

<form ng-submit="submit($event)" class="form-group">
  <div>
    <label for="">Name</label>
    <input type="text" ng-model="newItem.name" class="form-control" />
  </div>
  <div>
    <label for="">Description</label>
    <input type="text" ng-model="newItem.description" class="form-control" />
  </div>
  <div>
    <label for="">Price</label>
    <input type="text" ng-model="newItem.price" class="form-control" />
  </div>
  <div>
    <label for="">Image URL</label>
    <input type="text" ng-model="newItem.img" class="form-control" />
  </div>
  <div>
    <br>
    <button type="submit" class="btn btn-primary" value="Add Item">Submit</button>
  </div>
</form>

<ul>
  <li ng-repeat="item in items track by $index">
    <img ng-src="{{ item.img }}" class="item-list-img">
    <a ng-href="#/items/{{item.id}}">{{ item.name }}</a>
    {{ item.description }}
    {{ item.price | currency }}
    <div>
      <select class="b" ng-model="selected" ng-init="selected='1'">
            <option ng-selected="setQuantity(selected)">1</option>
            <option ng-selected="setQuantity(selected)">2</option>
            <option ng-selected="setQuantity(selected)">3</option>
            <option ng-selected="setQuantity(selected)">4</option>
          </select>
          <span class="btn btn-success btn-xs" ng-click="addItem(selected, item)">
          <span class="glyphicon glyphicon-plus"></span></span>
    </div>
  </li>
</ul>

<gs-yoyo-details yoyo-data="yoyo" ng-repeat="item in items"></gs-yoyo-details>
