<a class="btn" ui-sref="checkout" ng-show="Badge >= 1">
<i class="medium material-icons">shopping_cart</i>
<span>{{Badge}}</span>
</a>

<!-- LIST CART ITEMS ON CLICK --!>
<!-- <ul>
  <li ng-repeat="item in cart track by $index">{{item.quantity}} {{item.name}}</li>
</ul> -->


<div ng-repeat="item in items track by $index" class="row card-panel hoverable" id="item-panel">
    <div class="col s4 m4 l3">
      <img ng-src="{{ item.img }}" class="responsive-img">
    </div>
    
    <div class="col s8 m6 l6" flow-text>
      <h4>
        <a ng-href="#/items/{{item.id}}">{{ item.name }}</a>
        {{ item.maker }}
        {{ item.year }}
        {{ item.location }}
      </h4>
      <div>
        {{ item.description }}
      </div>    
      <div>
        
        {{ item.price | currency }}
        <a class="btn-floating btn-medium waves-effect waves-light brown" ng-click="addItem(1, item)">
        <i class="mdi-content-add"></i></a>
      </div>
    </div>
</div> <!-- END REPEAT -->


<div class="row">
      <div class="col s2">1</div>
      <div class="col s2">2</div>
      <div class="col s2">3</div>
      <div class="col s2">4</div>
      <div class="col s2">5</div>
      <div class="col s2">6</div>
</div>
<div class="row">
      <div class="col s2">1</div>
      <div class="col s10">2</div>
</div>
