<div class="checkout-header">
  <a class="btn btn-large" ui-sref="checkout" ng-show="Badge >= 1" id="checkout-button">
    <span id="checkout-font">
    <i class="large material-icons">shopping_cart</i>
    {{Badge}}</span>
  </a>
</div>

<div ng-repeat="item in items track by $index" class="row card-panel hoverable" id="item-panel" layout-sm="column">
    <div class="col s12 m4 l4">
      <img ng-src="{{ item.img }}" style="max-height: 400px;" class="responsive-img">
    </div>
    
    <div class="col s12 m8 l8 item-text-box" flow-text>
      <p class="item-name">
        <a ng-href="#/items/{{item.id}}">{{ item.name }} {{ item.year }}</a>
          <br>
      </p>    
      <p class="item-details">     
        {{ item.maker }},
        {{ item.location }}
      </p>
     
      <div class="item-description">
        {{ item.description }}
      </div>    
        <div class="price-add">
          <a id="add-item" class="btn-floating btn-large waves-effect waves-light brown" ng-click="addItem(1, item)">
          <i class="mdi-content-add"></i></a>
          <span class="item-price">{{ item.price | currency }}</span>
        </div>
    </div>
</div>
