<div class="welcome-container">
      <img class="welcome-img" src="http://ghk.h-cdn.co/assets/cm/15/12/1600x800/5506ee1b4cb05-pretty-woman-drinking-wine-xln.jpg">
</div>
<div class="welcome-text">
        <p class="welcome-header">Hello, welcome to Vyno</p>
        <p class="welcome-subtitle">Artisan wine delivery on demand</p>
        <p><a class="btn btn-primary btn-lg" href="#/items" role="button">Browse our selection</a></p>
</div>  

<!-- <div class="jumbotron">
  <h1>Hello, welcome to Vyno</h1>
  <h5>Artisan wine delivery on demand</h5>
  <p><a class="btn btn-primary btn-lg" href="#/items" role="button">Browse our selection</a></p>
</div> -->
