<div class="container">
<form ng-submit="signUp(newUser)" name="signup_form" class="form-group">
  <div>
    <label for="">first name</label>
    <input type="text" name="first_name" ng-model="newUser.first_name" class="form-control" />
  </div>
  <div>
    <label for="">email</label>
    <input type="text" name="email" ng-model="newUser.email" class="form-control" />
  </div>
  <div>
    <label for="">password</label>
    <input type="password" name="password" ng-model="newUser.password" class="form-control" />
  </div>
  <div>
    <br>
    <button type="submit" class="btn btn-success">Sign-Up</button>
</form>
</div>


<!-- <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            
            <h3>Vyno</h3>
            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">An on-demand artisan products delivery app</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a href="index.html" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="page-register.html">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
 -->
