<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">

      <h3>Customer info:</h3>

      <form ng-submit="submit($event)" class="form-group">
        <div>
          <label for="">Name</label>
          <!-- <input type="text" ng-model="user" class="form-control" /> -->
        </div>
        <div>
          <label for="">Address</label>
         <!--  <input type="text" ng-model="item.description" class="form-control" /> -->
        </div>
        <div>
          <label for="">Phone</label>
          <!-- <input type="text" ng-model="user.phone" class="form-control" /> -->
        </div>
        <div>
          <h3>Order info: </h3>
          <ul ng-repeat="item in cart track by $index">
            <li>
              {{item.quantity}}
              {{item.name}}
              (${{item.price}})
              {{item.subTotal | currency}}          
            </li>
          </ul>
        </div>
        Total items: {{Badge}} 
        Total: {{Total | currency}}
        <div>
      </form>
    </div> <!-- END MODAL CONTENT -->
</div>
<!-- MODAL FOOTER BUTTTONS -->
<div class="modal-footer">
    <a ui-sref="items" class="modal-action modal-close waves-effect waves-green btn-flat ">Shop More</a>
    <a ui-sref="checkout" class="modal-action modal-close waves-effect waves-green btn-flat ">Back to Checkout</a>
    <a ui-sref="confirmation" class="modal-action modal-close waves-effect waves-green btn-flat ">Confirm Order</a>
  </div>
</div>
<!-- CHECKOUT BUTTON -->
<div class="checkout-header">
  <a class="modal-trigger btn btn-large" href="#modal1" id="checkout-button">
    <span id="checkout-font">
    Total ${{Total}}
    <i class="material-icons">check_circle</i>
    </span>
  </a>
</div>
