.shop-return 
  top 64px
  left 0px
  position fixed
  z-index 3
  
.checkout-header 
  top 64px
  right 0px
  position fixed
  z-index 3    

#checkout-font 
  font-size 2rem

#checkout-button 
  height 64px
  opacity .9
  z-index 9

