.checkout-header {
  top: 64px;

  bottom:0;
  /*height: 80px;*/
  position:fixed;
  z-index: 3;  
}

#checkout-font {
  font-size: 2rem;
}
#checkout-button {
  height: 64px;
  opacity: .9;
}

/*@media only screen and (max-width : 992px) {
  .checkout-header {
    top: 0;
    right: 0;
    bottom:0;
    position:fixed;
    z-index: 3;
  
  }
  #checkout-button {
    height: 64px;
  }
}
*/
