.shop-return {
  top: 64px;
  left: 0px;
  /*height: 80px;*/
  position:fixed;
  z-index: 3;
  /*overflow-y:scroll;
  overflow-x:hidden;*/
  
}
.checkout-header {
  top: 64px;
  right: 0px;
  /*height: 80px;*/
  position:fixed;
  z-index: 3;
  /*overflow-y:scroll;
  overflow-x:hidden;*/
  
}
.confirm-header {
/*  top: 64px;*/
  /*height: 80px;*/
 /* position:fixed;*/
/*  z-index: 3;*/
  /*overflow-y:scroll;
  overflow-x:hidden;*/
  
}

#checkout-font {
  font-size: 2rem;
}
#checkout-button {
  height: 64px;
  opacity: .9;
  z-index: 9;
}

/*@media only screen and (max-width : 992px) {
  .checkout-header {
    top: 0;
    right: 0;
    bottom:0;
    position:fixed;
    z-index: 3;
  
  }
  #checkout-button {
    height: 64px;
  }
}
*/
