body {
  font-family: 'Caveat', cursive;
  background-color: #fffcf2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.jumbotron {
  color: white;
  margin-top: 100px;
  height: 100%;
  background-image: url("http://ghk.h-cdn.co/assets/cm/15/12/1600x800/5506ee1b4cb05-pretty-woman-drinking-wine-xln.jpg");
  background-position: center; 
}

.welcome-container {
  margin-top: 100px;
}

.welcome-img {
  width: 100%;
 /* background-size: cover;
  background-position: center;*/
  position: absolute;
  z-index: 1;
}

.welcome-text {
  z-index: 2;
}

@import 'navbar';
@import 'list';
@import 'checkout';
@import 'footer';
