body {
  background-color: #3b3b3b;
}
.jumbotron {

  margin-top: 100px;
  background-image: url("http://ghk.h-cdn.co/assets/cm/15/12/1600x800/5506ee1b4cb05-pretty-woman-drinking-wine-xln.jpg");
  background-position: center; 
}

@import 'navbar';
@import 'list';
@import 'checkout';
