body {
  font-family: 'Caveat', cursive;
  background-color: #fffcf2;
 /* color: white;
  background-color: #3d3b30;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


@import 'navbar';
@import 'list';
@import 'checkout';
@import 'footer';
@import 'main';
@import 'confirmation';
@import 'map';
