#item-panel {
  background-color: white;
}

/*.item-list-img {
  float:left;
}

.item-info {
  float: left;
}

.item-quantity {
  float: left;
}*/

.item-description {
  font-size: 1.6rem;
}

.item-price {
  padding-left: .8rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.price-add {
  padding-top: 1rem;
}
