#item-panel {
  background-color: white;
}

#add-item {
  z-index: 2;
}

.item-info {
  float: left;
}

.item-quantity {
  float: left;
}

.item-description {
  font-size: 1.6rem;
  color: #292929;
}

.item-price {
  padding-left: .8rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.price-add {
  padding-top: 1rem;
  color: #292929;
}

.item-name {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0px;
}

.item-details {
  font-size: 2.1rem;
  /*color: #038CCE;*/
  color: #949494;
}

.item-text-box {
  margin-top: 1rem;
}
