main {
  flex: 1 0 auto;
}
.welcome-container {
  margin-top: 6%;
 /* max-width: 1098px*/;
}
.welcome-img {
  width: 100%;
 /* background-size: cover;
  background-position: center;*/
  position: relative;
  overflow-x:hidden;
  z-index: 0;
}
.welcome-text {
  color: #3d3b30;
  z-index: 1;
  position: absolute;
  top: 23%;
  right: 8%;
  text-align: right;
}
.welcome-header {
  font-size: 2.4rem;
}
.welcome-subtitle {
  font-size: 1.6rem;
}
@media only screen and (max-width : 625px) {
  .welcome-text {
    position relative;
    text-align: center;
    right: 0%;
    margin-top:4%;
  }
}
@media only screen and (min-width : 1098px) {
  .welcome-text {
    right: 15%;
  }
}
@media only screen and (min-width : 1200px) {
  .welcome-text {
    right: 25%;
  }
}
