main {
  flex: 1 0 auto;
}

/*.jumbotron {
  color: white;
  margin-top: 100px;
  height: 100%;
  background-image: url("http://ghk.h-cdn.co/assets/cm/15/12/1600x800/5506ee1b4cb05-pretty-woman-drinking-wine-xln.jpg");
  background-position: center; 
}*/

.welcome-container {
  margin-top: 8%;
  max-width: 1098px;
}

.welcome-img {
  width: 100%;
 /* background-size: cover;
  background-position: center;*/
  position: relative;
  z-index: 0;
}

.welcome-text {
  color: #3d3b30;
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 5%;
  text-align: right;

}

.welcome-header {
  font-size: 2rem;
}
.welcome-subtitle {
  font-size: 1rem;
}

/*@media only screen and (min-width : 1098px) {
  .welcome-text {
    position: relative;
  }
}*/
