.modal .modal-content
  padding 0px

#map 
  height 80%
  width 100%

#geocode-button
  padding-top 20px
  padding-left 20px

#modal-header 
  margin-bottom 0px
  text-align center

#delivery-time 
  font-size 2rem
  text-align center

@media only screen and (max-width  599px)
  #geocode-button
    padding-top .5rem
    text-align center
