.nav-wrapper {
  background-color: white;
}
.nav-wrapper a {
  color: #3d3b30;
  font-size: 1.5rem;
}
nav .brand-logo {
  color: #3d3b30 !important;
  font-size: 3rem;
  font-weight: 700;
}
.side-nav{
  background-color: #FFFCF2;
  padding-top: 10%;
}
