#toast-container{
  top: 0;
  left: 8%;
  height: 64px;
  /*right: 0px;*/
  /*background-color: blue;*/
}
.toast {
  background-color: #039be5;
  font-size: 2rem;
}

@media only screen and (max-width : 599px) {
  #toast-container{
    left: 10%;
  }
  .toast {
    font-size: 1.5rem;
    margin-top: 4px;
    /*padding: 0px;*/
  }
}
